/* --------------------------------
Modules
-------------------------------- */
.hh-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.hh-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
/* --------------------------------
Main components
-------------------------------- */
.hh-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  color: #292111;
  background: rgba(163, 165, 164, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.hh-header :after {
  content: "";
  display: table;
  clear: both;
}
.hh-header #hh-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.hh-header #hh-logo img {
  display: block;
}
.hh-header .header-cont {
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .hh-header {
    height: 40px;
  }
  .hh-header #hh-logo {
    margin: 23px 0 0 5%;
  }
}
.hh-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background-size: 44px 44px;
  cursor: pointer;
}
.hh-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.hh-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.hh-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;
}
@media only screen and (min-width: 768px) {
  .hh-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .hh-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .hh-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .hh-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .hh-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .no-touch .hh-main-nav a:hover {
    color: #99a478;
  }
}
.hh-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}
.hh-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.hh-fixed-bg h1,
.hh-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: #a3a5a4;
}
.hh-fixed-bg.hh-bg-1 {
  background-image: url("../img/MSIADS.jpg");
}
.hh-fixed-bg.hh-bg-2 {
  background-image: url("../img/ebos_wide.jpg");
}
.hh-fixed-bg.hh-bg-3 {
  background-image: url("../img/tree_wide.jpg");
}
@media only screen and (min-width: 768px) {
  .hh-fixed-bg h1,
  .hh-fixed-bg h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1170px) {
  .hh-fixed-bg {
    background-attachment: fixed;
  }
  .hh-fixed-bg h1,
  .hh-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
}
.hh-scrolling-bg {
  position: relative;
  min-height: 75%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.hh-scrolling-bg.hh-color-1 {
  background-color: #050402;
  color: #a3a5a4;
}
@media only screen and (min-width: 768px) {
  .hh-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}
